body {
    padding: 0;
    margin: 0;
    background-color: #999999;
}

.page {
    padding: 0 10;
    margin: auto;
    width: 780;
    height: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
}

.header {
    padding: 20 0 10 0;
    margin: auto;
    width: 400;
    text-align: center;
    font-size: 40;
    font-weight: bold;
}

.content {
    margin: auto;
    width: 700;
}

.newgame table {
    margin: auto;
    padding: 0;
    width: 300;
    font-size: 20;
    font-family: serif;
    line-height: 0.5;
    border: 1px solid #000000;
    border-collapse: collapse;
}

.newgame .field_name {
    padding: 5;
    width: 140;
    font-size: 20;
}

.newgame .field_value {
    border: 1px solid #000000;
}

.newgame .field_value input {
    width: 100%;
    height: 125%;
    font-size: 18;
    font-family: serif;
    text-align: center;
}

.newgame .field_value select {
    width: 100%;
    height: 110%;
    font-size: 16;
    font-family: serif;
}

.controls table {
    margin: auto;
    padding: 0;
    width: 300;
    font-family: serif;
    line-height: 0.5;
    border: 1px solid #000000;
    border-collapse: collapse;
}

.controls table td {
    margin: 0;
    padding: 0;
}

.controls table .newgame_button {
    padding: 0;
    width: 150;
}

.controls table button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 25;
}

.controls .rp_button {
    width: 70;
}

.controls .step_button {
    width: 75;
}

.board table {
    margin: 20 auto;
    padding: 5;
    font-size: 50;
    font-family: serif;
    line-height: 0.5;
    border: 1px solid #000000;
    background: #000000;
}

.board table tr {
    margin: 0;
    padding: 0;
}

.board table tr td {
    margin: 0;
    padding: 0;
    width: 140;
    height: 140;
    border: 1px solid #000000;
}

.board table tr td button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 103%;
    font-size: 50;
    font-family: serif;
    line-height: 0.5;
}

.board .active {
    background: #008800;
}

.board .active button {
    border-color: #008800;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4DAC4D), to(#005F00));
    background: -webkit-linear-gradient(#4DAC4D, #005F00);
    background: -moz-linear-gradient(#4DAC4D, #005F00);
    background: -ms-linear-gradient(#4DAC4D, #005F00);
    background: -o-linear-gradient(#4DAC4D, #005F00);
    background: linear-gradient(#4DAC4D, #005F00);
}

.board .non_active {
    background: #CC0000;
}

.board .prev {
    background: #8F0000;
}

.winner {
    padding: 10 0;
    text-align: center;
    font-size: 45;
    color: #009900;
    font-weight: bold;
}
