body {
    padding: 0;
    margin: 0;
    background-color: #999999;
}

.page {
    padding: 0;
    margin: auto;
    width: 800;
    height: 100%;
    overflow: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
}

.header {
    padding: 20 0 10 0;
    margin: auto;
    width: auto;
    text-align: center;
    font-size: 40;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000000;
}

.content {
    margin: auto;
    width: 780;
}

.setup {
    padding: 10 0 10 0;
    margin: 0 0 -23 0;
}

.setup table {
    margin: auto;
    padding: 0;
    width: 300;
    font-size: 20;
    font-family: serif;
    line-height: 0.5;
    border: 3px solid #000000;
    border-collapse: collapse;
    line-height: 1.2;
}

.setup .field_name {
    padding: 5;
    width: 137;
    font-size: 20;
}

.setup .field_value {
    margin: 0;
    padding: 0;
    border: 1px solid #000000;
}

.setup .field_value input {
    width: 100%;
    height: 117%;
    font-size: 18;
    font-family: serif;
    text-align: center;
}

.setup .field_value input[type=number]::-webkit-inner-spin-button,
.setup .field_value input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.setup .field_value select {
    width: 100%;
    height: 105%;
    font-size: 16;
    font-family: serif;
}

.controls {
    padding: 10 0;
}

.controls table {
    margin: auto;
    width: 300;
    font-family: serif;
    line-height: 0.5;
    border: 3px solid #000000;
    background: #000000;
    border-collapse: collapse;
}

.controls table td {
    margin: 0;
    padding: 0;
}

.controls table button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 25;
    font-size: 17;
    font-family: serif;
    border: 0;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#CCCCCC));
    background: -webkit-linear-gradient(#FFFFFF, #CCCCCC);
    background: -moz-linear-gradient(#FFFFFF, #CCCCCC);
    background: -ms-linear-gradient(#FFFFFF, #CCCCCC);
    background: -o-linear-gradient(#FFFFFF, #CCCCCC);
    background: linear-gradient(#FFFFFF, #CCCCCC);
}

.controls .sh_button {
    width: 64;
}

.controls .newgame_button {
    width: 106;
}

.controls .rp_button {
    width: 62;
}

.controls .step_button {
    width: 63;
}

.board {
    padding: 0 0 15 0;
}

.board .game {
    margin: 0 auto;
    padding: 7;
    font-size: 50;
    font-family: serif;
    line-height: 0.5;
    background: #000000;
}

.board .game tr {
    margin: 0;
    padding: 0;
}

.board .game tr td {
    margin: 0;
    padding: 0;
    width: 140;
    height: 140;
    color: #FFFFFF;
    text-shadow: 3px 3px 5px #000000;
}

.board .game tr td button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 103%;
    font-size: 50;
    font-family: serif;
    line-height: 0.5;
    color: #FFFFFF;
    text-shadow: 3px 3px 5px #000000;
}

.board .a_square {
    background: #DD550C;
}

.board .a_square button {
    border-color: #E4773D;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#E06624), to(#9B3B08));
    background: -webkit-linear-gradient(#E06624, #9B3B08);
    background: -moz-linear-gradient(#E06624, #9B3B08);
    background: -ms-linear-gradient(#E06624, #9B3B08);
    background: -o-linear-gradient(#E06624, #9B3B08);
    background: linear-gradient(#E06624, #9B3B08);
}

.board .a_prev {
    background: #853307;
}

.board .b_square {
    background: #03244D;
}

.board .b_square button {
    border-color: #355071;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#1C3A5F), to(#021936));
    background: -webkit-linear-gradient(#1C3A5F, #021936);
    background: -moz-linear-gradient(#1C3A5F, #021936);
    background: -ms-linear-gradient(#1C3A5F, #021936);
    background: -o-linear-gradient(#1C3A5F, #021936);
    background: linear-gradient(#1C3A5F, #021936);
}

.board .b_prev {
    background: #02162E;
}

.win_table {
    position: relative;
    top: -200px;
    margin: 0 auto -100 auto;
    padding: 2;
    font-size: 50;
    font-family: serif;
    line-height: 0.5;
    background: #000000;
}

.win_table td {
    margin: 0;
    padding: 0;
    width: 220px;
    height: 45px;
}

.win_table button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 110%;
    font-size: 28;
    font-family: serif;
    line-height: 0.5;
}

.a_winner {
    padding: 10 0;
    text-align: center;
    font-size: 28;
    color: #FFFFFF;
    text-shadow: 3px 3px 5px #000000;
    background: #DD550C;
    font-weight: bold;
}

.b_winner {
    padding: 10 0;
    text-align: center;
    font-size: 28;
    color: #FFFFFF;
    text-shadow: 3px 3px 5px #000000;
    background: #03244D;
    font-weight: bold;
}
